 <a asp-controller="Home" asp-action="UserList">UserList</a>
 <a asp-controller="Home" asp-action="InstructorList">InstructorList</a>
<<<<<<< HEAD


 
=======
 <h1>kjahsofojaoıgjo</h1>
>>>>>>> 4b5c0f5f0ef1c18a480d62944f5e9f7ea99fb4a1
